.widget {
  border-style: solid;
  width: auto;
  height: auto;
  border-radius: 20px;
  background-color: #2F2762;

  h3 {
    color: white;
    font-weight: bold;
  }
  h6 {
    color: white;
  }
  p {
    color: white;
  }
}
